configuration {
  font:               "FiraCode Nerd Font 12";
  show-icons:         false;
  disable-history:    false;
  sidebar-mode:       false;
  terminal:           "alacritty";
 }
 @theme "~/.config/rofi/themes/catppuccin.rasi"

