configuration {
  font:                "FiraCode Nerd Font 12";
  show-icons:          true;
  icon-theme:          "Breeze Dark";
  display-window:      "";
  window-display-format: "{name}";
  disable-history:     false;
  sidebar-mode:        false; 
 }
 @theme "~/.config/rofi/themes/catppuccin.rasi"

